.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

/.idea
*.iml

# Hide keys
# git update-index --assume-unchanged bintray.properties permission-nanny-android.jks permission-nanny-android.properties app/fabric.properties
